Describe project scope. Where the data was sourced from. About the two datasets

In [40]:
import pandas as pd 

pd.set_option('display.max_columns', None)
housing_prod_by_building_df = pd.read_csv("Affordable_Housing_Production_by_Building.csv", index_col=['Building ID']).sort_index()
housing_prod_by_building_df.head(10)

,Project ID,Project Name,Project Start Date,Project Completion Date,Number,Street,Borough,Postcode,BBL,BIN,Community Board,Council District,Census Tract,NTA - Neighborhood Tabulation Area,Latitude,Longitude,Latitude (Internal),Longitude (Internal),Building Completion Date,Reporting Construction Type,Extended Affordability Only,Prevailing Wage Status,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Studio Units,1-BR Units,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
Building ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
375.0,48646,SKA MARIN. 1918 FIRST AVE. DRAPER HALL,12/24/2014,11/28/2017,1918,1 AVENUE,Manhattan,10029.0,1.016910e+09,1052997.0,MN-11,8.0,162,MN33,40.784985,-73.943444,40.78466,-73.943076,11/28/2017,Preservation,No,Prevailing Wage,202,0,0,0,0,1,2,200,1,0,0,0,0,0,203,0,203,203
382.0,68660,RIVER CROSSING OWNER HDFC.HPO.FY20,10/23/2019,10/23/2019,1952,1 AVENUE,Manhattan,10029.0,1.016940e+09,1083932.0,MN-11,8.0,162,MN33,40.786225,-73.942518,40.78587,-73.941933,10/23/2019,Preservation,Yes,Non Prevailing Wage,0,0,3,177,22,0,8,61,86,38,9,0,0,0,202,0,202,306
413.0,61875,1199 HOUSING CORP.PLP.FY19,06/28/2019,NaN,2070,1 AVENUE,Manhattan,10029.0,1.017010e+09,1083953.0,MN-11,8.0,162,MN33,40.790368,-73.939510,40.79088,-73.937682,NaN,Preservation,No,Non Prevailing Wage,74,352,0,0,0,0,39,155,150,64,18,0,0,0,0,426,426,426
452.0,66805,TRIPLE HDFC.HPO.FY19,09/27/2018,10/11/2019,2232,1 AVENUE,Manhattan,10029.0,1.017080e+09,1079384.0,MN-11,8.0,178,MN34,40.794966,-73.936151,40.79498,-73.935750,10/11/2019,Preservation,No,Non Prevailing Wage,0,0,8,0,0,0,0,0,8,0,0,0,0,0,8,0,8,8
482.0,71849,2269 1ST AVENUE APARTMENTS,10/26/2021,NaN,340,EAST 117 STREET,Manhattan,10035.0,1.016880e+09,NaN,MN-11,8.0,188,MN34,40.797151,-73.936051,40.79665,-73.935441,NaN,New Construction,No,Non Prevailing Wage,0,0,0,0,27,0,7,16,4,0,0,0,0,0,27,0,27,90
502.0,66805,TRIPLE HDFC.HPO.FY19,09/27/2018,10/11/2019,2295,1 AVENUE,Manhattan,10035.0,1.017950e+09,1084003.0,MN-11,8.0,188,MN34,40.797408,-73.934393,40.79757,-73.934671,08/26/2019,Preservation,No,Non Prevailing Wage,1,0,12,0,0,0,0,0,13,0,0,0,0,0,13,0,13,13
525.0,58658,LA CASA NUESTRA HDFC.YR15.FY17,11/03/2016,NaN,2334,1 AVENUE,Manhattan,10035.0,1.018070e+09,1054881.0,MN-11,8.0,192,MN34,40.798380,-73.933659,40.79827,-73.933345,NaN,Preservation,No,Non Prevailing Wage,6,3,0,0,0,0,0,0,1,4,0,0,4,0,9,0,9,9
535.0,59857,Stuy Town Peter Cooper Village,12/18/2015,12/18/2015,240,1 AVENUE,Manhattan,10009.0,1.009720e+09,1082875.0,MN-06,4.0,44,MN50,40.731651,-73.982197,40.73172,-73.977896,12/18/2015,Preservation,Yes,Non Prevailing Wage,0,0,14,0,120,0,0,69,57,7,1,0,0,0,134,0,134,134
576.0,59857,Stuy Town Peter Cooper Village,12/18/2015,12/18/2015,350,1 AVENUE,Manhattan,10010.0,1.009780e+09,1083679.0,MN-06,4.0,60,MN50,40.735106,-73.979671,40.73487,-73.976982,12/18/2015,Preservation,Yes,Non Prevailing Wage,0,0,5,0,46,0,0,25,26,0,0,0,0,0,51,0,51,51
686.0,65131,THE SUTTON,09/21/2016,05/14/2019,963,1 AVENUE,Manhattan,10022.0,1.013450e+09,NaN,MN-06,4.0,98,MN19,40.755666,-73.964865,40.75578,-73.965165,05/14/2019,New Construction,No,Non Prevailing Wage,0,0,0,0,23,0,2,8,13,0,0,0,0,0,23,0,23,114

In [41]:
housing_prod_by_project_df = pd.read_csv("Affordable_Housing_Production_by_Project.csv", index_col=['Project ID']).sort_index()
housing_prod_by_project_df.head(10)

,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units
Project ID,,,,,,,,,,,,,,,,,,
44218,MEC E. 125TH ST. PARCEL B WEST,Multifamily Finance Program,12/31/2018,02/16/2022,No,Non Prevailing Wage,Article XI,0,101,101,0,93,2,297,0,297,404,0
44223,ROCHESTER SUYDAM PHASE 1,Multifamily Finance Program,06/30/2021,NaN,No,Non Prevailing Wage,Article XI,0,0,0,39,7,0,0,46,46,46,0
44225,Brook Avenue Apartments,Multifamily Finance Program,06/27/2014,12/28/2016,No,Non Prevailing Wage,421a,0,14,51,0,0,1,66,0,66,66,0
44230,Mermaid / West. 16th Street,Small Homes Program,06/30/2015,07/21/2017,No,Non Prevailing Wage,UDAAP,0,0,0,16,5,0,14,7,21,21,0
44239,Home for Harlem Dowling,Multifamily Finance Program,06/30/2014,12/29/2016,No,Non Prevailing Wage,420c,12,0,47,0,0,1,60,0,60,60,0
44256,WSFSSH. 145 WEST 108TH ST. VALLEY LODGE,Multifamily Finance Program,12/31/2018,09/29/2021,No,Non Prevailing Wage,NaN,129,0,69,0,0,1,199,0,199,199,0
44265,CULVER EL PHASE I,Small Homes Program,11/25/2014,05/06/2019,No,Non Prevailing Wage,UDAAP,0,0,0,36,0,0,0,36,36,36,0
44280,ELTON CROSSING (AKA MELROSE COMMONS NORTH SITE C),Multifamily Finance Program,06/30/2015,02/27/2019,No,Non Prevailing Wage,420c,15,46,137,0,0,1,199,0,199,199,0
44281,STANLEY COMMONS,Multifamily Finance Program,12/31/2014,01/23/2018,No,Non Prevailing Wage,420c,0,3,236,0,0,1,240,0,240,240,0
44282,NYCHA FULTON HOUSES,Multifamily Finance Program,12/28/2016,11/20/2018,No,Non Prevailing Wage,Article XI,0,32,48,0,79,1,160,0,160,160,0

In [74]:
df = pd.merge(housing_prod_by_building_df, housing_prod_by_project_df, how='inner')

df.head()

,Project ID,Project Name,Project Start Date,Project Completion Date,Number,Street,Borough,Postcode,BBL,BIN,Community Board,Council District,Census Tract,NTA - Neighborhood Tabulation Area,Latitude,Longitude,Latitude (Internal),Longitude (Internal),Building Completion Date,Reporting Construction Type,Extended Affordability Only,Prevailing Wage Status,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Studio Units,1-BR Units,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Program Group,Planned Tax Benefit,Senior Units
0,44218.0,MEC E. 125TH ST. PARCEL B WEST,12/31/2018,02/16/2022,2319,3 AVENUE,Manhattan,10035.0,1.017900e+09,NaN,MN-11,8.0,242,MN34,40.804265,-73.935390,40.80409,-73.935159,02/16/2022,New Construction,No,Non Prevailing Wage,0,101,101,0,93,2,83.0,70.0,129.0,15.0,0.0,0.0,0.0,0.0,297,0,297,404,Multifamily Finance Program,Article XI,0
1,NaN,ROCHESTER SUYDAM PHASE 1,06/30/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Non Prevailing Wage,0,0,0,39,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,46,46,46,Multifamily Finance Program,Article XI,0
2,NaN,Brook Avenue Apartments,06/27/2014,12/28/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Non Prevailing Wage,0,14,51,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,0,66,66,Multifamily Finance Program,421a,0
3,NaN,Mermaid / West. 16th Street,06/30/2015,07/21/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Non Prevailing Wage,0,0,0,16,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,7,21,21,Small Homes Program,UDAAP,0
4,44239.0,Home for Harlem Dowling,06/30/2014,12/29/2016,2139,ADAM C POWELL JR BOULEVARD,Manhattan,10027.0,1.019110e+09,NaN,MN-10,9.0,224,MN03,40.810140,-73.947461,40.80991,-73.947125,12/29/2016,New Construction,No,Non Prevailing Wage,12,0,47,0,0,1,12.0,12.0,36.0,0.0,0.0,0.0,0.0,0.0,60,0,60,60,Multifamily Finance Program,420c,0

In [75]:
df.shape

(3523, 43)