Describe project scope. Where the data was sourced from. About the two datasets

In [251]:
import pandas as pd 

pd.set_option('display.max_columns', None)
housing_prod_by_building_df = pd.read_csv("Affordable_Housing_Production_by_Building.csv")
housing_prod_by_building_df.head(10)

,Project ID,Project Name,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,BBL,BIN,Community Board,Council District,Census Tract,NTA - Neighborhood Tabulation Area,Latitude,Longitude,Latitude (Internal),Longitude (Internal),Building Completion Date,Reporting Construction Type,Extended Affordability Only,Prevailing Wage Status,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Studio Units,1-BR Units,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
0,65554,BRIDGE ROCKAWAY,03/31/2022,NaN,1003153.0,805,ROCKAWAY AVENUE,Brooklyn,11212.0,3.036030e+09,NaN,BK-16,42.0,916,BK81,40.660120,-73.908285,40.66005,-73.907972,NaN,New Construction,No,Non Prevailing Wage,122,38,13,0,0,0,85,17,46,25,0,0,0,0,173,0,173,174
1,69099,VOA. 1746 ANDREWS AVENUE SOUTH,03/31/2022,NaN,1002488.0,1746,ANDREWS AVENUE SOUTH,Bronx,10453.0,2.028780e+09,NaN,BX-05,14.0,21501,BX36,40.850370,-73.917222,40.85028,-73.916947,NaN,New Construction,No,Prevailing Wage,117,0,0,0,0,1,93,24,1,0,0,0,0,0,118,0,118,118
2,69567,ASLAND CAPITAL. 1940 TURNBULL AVE. PL SARA,03/31/2022,NaN,1003176.0,1940,TURNBULL AVENUE,Bronx,10473.0,2.036720e+09,NaN,BX-09,18.0,16,BX09,40.822911,-73.857365,40.82262,-73.856777,NaN,New Construction,No,Prevailing Wage,153,0,0,0,0,1,122,31,1,0,0,0,0,0,154,0,154,154
3,72295,CONFIDENTIAL,03/31/2022,03/31/2022,NaN,----,----,Bronx,NaN,NaN,NaN,BX-08,11.0,NaN,NaN,NaN,NaN,NaN,NaN,03/31/2022,New Construction,No,Non Prevailing Wage,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1
4,72179,CONFIDENTIAL,03/25/2022,03/25/2022,NaN,----,----,Brooklyn,NaN,NaN,NaN,BK-15,46.0,NaN,NaN,NaN,NaN,NaN,NaN,03/25/2022,New Construction,No,Non Prevailing Wage,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1
5,72347,CONFIDENTIAL,03/25/2022,03/25/2022,NaN,----,----,Brooklyn,NaN,NaN,NaN,BK-12,40.0,NaN,NaN,NaN,NaN,NaN,NaN,03/25/2022,New Construction,No,Non Prevailing Wage,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1,1
6,67442,505 WEST 134 STREET CLUSTER,03/22/2022,NaN,40677.0,505,WEST 134 STREET,Manhattan,10031.0,1.019880e+09,1059763.0,MN-09,7.0,22301,MN06,40.818420,-73.953141,40.81864,-73.953119,NaN,Preservation,No,Non Prevailing Wage,0,11,0,8,0,0,0,0,14,5,0,0,0,0,0,19,19,19
7,67442,505 WEST 134 STREET CLUSTER,03/22/2022,NaN,40693.0,523,WEST 134 STREET,Manhattan,10031.0,1.019880e+09,1059754.0,MN-09,7.0,22301,MN06,40.818868,-73.954214,40.81914,-73.954308,NaN,Preservation,No,Non Prevailing Wage,0,17,0,8,0,0,0,1,16,8,0,0,0,0,0,25,25,25
8,67442,505 WEST 134 STREET CLUSTER,03/22/2022,NaN,40696.0,527,WEST 134 STREET,Manhattan,10031.0,1.019880e+09,1059752.0,MN-09,7.0,22301,MN06,40.818895,-73.954272,40.81927,-73.954611,NaN,Preservation,No,Non Prevailing Wage,0,17,0,8,0,0,0,1,16,8,0,0,0,0,0,25,25,25
9,72154,CONFIDENTIAL,03/21/2022,03/21/2022,NaN,----,----,Brooklyn,NaN,NaN,NaN,BK-14,40.0,NaN,NaN,NaN,NaN,NaN,NaN,03/21/2022,New Construction,No,Non Prevailing Wage,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1

In [252]:
housing_prod_by_project_df = pd.read_csv("Affordable_Housing_Production_by_Project.csv")
housing_prod_by_project_df.drop(housing_prod_by_project_df.columns.difference(['Project ID','Program Group']), 1, inplace=True)
housing_prod_by_project_df.head(10)

/var/folders/lj/11fmf7qj72n82w0j1qv_8sgr0000gn/T/ipykernel_70324/1091726066.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  housing_prod_by_project_df.drop(housing_prod_by_project_df.columns.difference(['Project ID','Program Group']), 1, inplace=True)

   Project ID                 Program Group
0       65554   Multifamily Finance Program
1       69099   Multifamily Finance Program
2       69567   Multifamily Finance Program
3       72295  Homeowner Assistance Program
4       72179  Homeowner Assistance Program
5       72347  Homeowner Assistance Program
6       67442   Multifamily Finance Program
7       72154  Homeowner Assistance Program
8       72165  Homeowner Assistance Program
9       72156  Homeowner Assistance Program

In [253]:
df = pd.merge(housing_prod_by_building_df, housing_prod_by_project_df, on='Project ID')
df.head()

,Project ID,Project Name,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,BBL,BIN,Community Board,Council District,Census Tract,NTA - Neighborhood Tabulation Area,Latitude,Longitude,Latitude (Internal),Longitude (Internal),Building Completion Date,Reporting Construction Type,Extended Affordability Only,Prevailing Wage Status,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Studio Units,1-BR Units,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Program Group
0,65554,BRIDGE ROCKAWAY,03/31/2022,NaN,1003153.0,805,ROCKAWAY AVENUE,Brooklyn,11212.0,3.036030e+09,NaN,BK-16,42.0,916,BK81,40.660120,-73.908285,40.66005,-73.907972,NaN,New Construction,No,Non Prevailing Wage,122,38,13,0,0,0,85,17,46,25,0,0,0,0,173,0,173,174,Multifamily Finance Program
1,69099,VOA. 1746 ANDREWS AVENUE SOUTH,03/31/2022,NaN,1002488.0,1746,ANDREWS AVENUE SOUTH,Bronx,10453.0,2.028780e+09,NaN,BX-05,14.0,21501,BX36,40.850370,-73.917222,40.85028,-73.916947,NaN,New Construction,No,Prevailing Wage,117,0,0,0,0,1,93,24,1,0,0,0,0,0,118,0,118,118,Multifamily Finance Program
2,69567,ASLAND CAPITAL. 1940 TURNBULL AVE. PL SARA,03/31/2022,NaN,1003176.0,1940,TURNBULL AVENUE,Bronx,10473.0,2.036720e+09,NaN,BX-09,18.0,16,BX09,40.822911,-73.857365,40.82262,-73.856777,NaN,New Construction,No,Prevailing Wage,153,0,0,0,0,1,122,31,1,0,0,0,0,0,154,0,154,154,Multifamily Finance Program
3,72295,CONFIDENTIAL,03/31/2022,03/31/2022,NaN,----,----,Bronx,NaN,NaN,NaN,BX-08,11.0,NaN,NaN,NaN,NaN,NaN,NaN,03/31/2022,New Construction,No,Non Prevailing Wage,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,Homeowner Assistance Program
4,72179,CONFIDENTIAL,03/25/2022,03/25/2022,NaN,----,----,Brooklyn,NaN,NaN,NaN,BK-15,46.0,NaN,NaN,NaN,NaN,NaN,NaN,03/25/2022,New Construction,No,Non Prevailing Wage,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1,Homeowner Assistance Program

In [254]:
housing_prod_by_building_df.isna().sum()

Project ID                               0
Project Name                             0
Project Start Date                       0
Project Completion Date               1834
Building ID                           1089
Number                                   0
Street                                   0
Borough                                  0
Postcode                              1156
BBL                                   1246
BIN                                   2932
Community Board                          0
Council District                        15
Census Tract                          1150
NTA - Neighborhood Tabulation Area    1150
Latitude                              1156
Longitude                             1156
Latitude (Internal)                   1253
Longitude (Internal)                  1253
Building Completion Date              1651
Reporting Construction Type              0
Extended Affordability Only              0
Prevailing Wage Status                   0
Extremely Low Income Units               0
Very Low Income Units                    0
Low Income Units                         0
Moderate Income Units                    0
Middle Income Units                      0
Other Income Units                       0
Studio Units                             0
1-BR Units                               0
2-BR Units                               0
3-BR Units                               0
4-BR Units                               0
5-BR Units                               0
6-BR+ Units                              0
Unknown-BR Units                         0
Counted Rental Units                     0
Counted Homeownership Units              0
All Counted Units                        0
Total Units                              0
dtype: int64

In [255]:
print("Percentage of records with confidential data:", round(df[df['Project Name'] == 'CONFIDENTIAL'].shape[0] / df.shape[0] * 100, 2), "%")

Percentage of records with confidential data: 18.78 %

In [256]:
df = df[df['Project Name'] != 'CONFIDENTIAL'] #Delete confidential records
df['Building ID'] = df['Building ID'].astype(int)
df.set_index('Building ID', inplace=True)
df.head()

,Project ID,Project Name,Project Start Date,Project Completion Date,Number,Street,Borough,Postcode,BBL,BIN,Community Board,Council District,Census Tract,NTA - Neighborhood Tabulation Area,Latitude,Longitude,Latitude (Internal),Longitude (Internal),Building Completion Date,Reporting Construction Type,Extended Affordability Only,Prevailing Wage Status,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Studio Units,1-BR Units,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Program Group
Building ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1003153,65554,BRIDGE ROCKAWAY,03/31/2022,NaN,805,ROCKAWAY AVENUE,Brooklyn,11212.0,3.036030e+09,NaN,BK-16,42.0,916,BK81,40.660120,-73.908285,40.66005,-73.907972,NaN,New Construction,No,Non Prevailing Wage,122,38,13,0,0,0,85,17,46,25,0,0,0,0,173,0,173,174,Multifamily Finance Program
1002488,69099,VOA. 1746 ANDREWS AVENUE SOUTH,03/31/2022,NaN,1746,ANDREWS AVENUE SOUTH,Bronx,10453.0,2.028780e+09,NaN,BX-05,14.0,21501,BX36,40.850370,-73.917222,40.85028,-73.916947,NaN,New Construction,No,Prevailing Wage,117,0,0,0,0,1,93,24,1,0,0,0,0,0,118,0,118,118,Multifamily Finance Program
1003176,69567,ASLAND CAPITAL. 1940 TURNBULL AVE. PL SARA,03/31/2022,NaN,1940,TURNBULL AVENUE,Bronx,10473.0,2.036720e+09,NaN,BX-09,18.0,16,BX09,40.822911,-73.857365,40.82262,-73.856777,NaN,New Construction,No,Prevailing Wage,153,0,0,0,0,1,122,31,1,0,0,0,0,0,154,0,154,154,Multifamily Finance Program
40677,67442,505 WEST 134 STREET CLUSTER,03/22/2022,NaN,505,WEST 134 STREET,Manhattan,10031.0,1.019880e+09,1059763.0,MN-09,7.0,22301,MN06,40.818420,-73.953141,40.81864,-73.953119,NaN,Preservation,No,Non Prevailing Wage,0,11,0,8,0,0,0,0,14,5,0,0,0,0,0,19,19,19,Multifamily Finance Program
40693,67442,505 WEST 134 STREET CLUSTER,03/22/2022,NaN,523,WEST 134 STREET,Manhattan,10031.0,1.019880e+09,1059754.0,MN-09,7.0,22301,MN06,40.818868,-73.954214,40.81914,-73.954308,NaN,Preservation,No,Non Prevailing Wage,0,17,0,8,0,0,0,1,16,8,0,0,0,0,0,25,25,25,Multifamily Finance Program

In [257]:
df.shape

(4709, 41)

In [258]:
df["Address"] = df["Number"].astype(str) + " " + df["Street"]
df['Building Completion Date'] = df['Building Completion Date'].astype('datetime64[ns]')
df["3-BR+ Units"] = df["3-BR Units"].astype(int) + df["4-BR Units"].astype(int) + df["5-BR Units"].astype(int) + df["6-BR+ Units"].astype(int)
df = df.drop(columns=['Number', 'Street', 'Council District', 'Project Start Date', 'Project Completion Date', 'BBL', 'BIN', 'Community Board', 'Census Tract', 'NTA - Neighborhood Tabulation Area', 'Latitude', 'Longitude', 'Reporting Construction Type', 'Extended Affordability Only', 'Prevailing Wage Status', 'Other Income Units', 'Unknown-BR Units', 'All Counted Units', 'Total Units'], errors='ignore')
df = df.rename(columns={'Latitude (Internal)': 'Latitude', 'Longitude (Internal)': 'Longitude'})
df = df[['Project ID', 'Project Name', 'Program Group', 'Address',  'Borough', 'Postcode', 'Latitude', 'Longitude', 'Building Completion Date', 'Extremely Low Income Units', 'Very Low Income Units', 'Low Income Units', 'Moderate Income Units', 'Middle Income Units', 'Studio Units', '1-BR Units', '2-BR Units', '3-BR+ Units', 'Counted Rental Units', 'Counted Homeownership Units']]

df.isna().sum()

Project ID                        0
Project Name                      0
Program Group                     0
Address                           0
Borough                           0
Postcode                         67
Latitude                        164
Longitude                       164
Building Completion Date       1613
Extremely Low Income Units        0
Very Low Income Units             0
Low Income Units                  0
Moderate Income Units             0
Middle Income Units               0
Studio Units                      0
1-BR Units                        0
2-BR Units                        0
3-BR+ Units                       0
Counted Rental Units              0
Counted Homeownership Units       0
dtype: int64

In [259]:
df = df[df['Building Completion Date'].notna()]
df = df[df['Latitude'].notna()]
df = df[df['Longitude'].notna()]
df = df[df['Postcode'].notna()]
df.isna().sum()

Project ID                     0
Project Name                   0
Program Group                  0
Address                        0
Borough                        0
Postcode                       0
Latitude                       0
Longitude                      0
Building Completion Date       0
Extremely Low Income Units     0
Very Low Income Units          0
Low Income Units               0
Moderate Income Units          0
Middle Income Units            0
Studio Units                   0
1-BR Units                     0
2-BR Units                     0
3-BR+ Units                    0
Counted Rental Units           0
Counted Homeownership Units    0
dtype: int64

In [264]:
df.head()

df.to_csv('cleaned_data.csv', encoding='utf-8')